body{
    overflow-x: hidden;
}
@media (max-width: 768px) {
    .header{
        &__logo{
            margin-left: 25px;
            img{
                width: 80%;
            }
        }
        &__official {
            font-size: 10px;
        }
        &__contacts{
            margin-right: 25px;
            a{
                font-size: 13px;
            }
            button{
                width: 95%;
                font-size: 8px;
            }
        }
    }
    .promo{
        &__header{
            font-size: 38px;
            margin-right: 40px;
        }
        &__subheader {
            font-size: 18px;
            margin-right: 40px;
        }
        &__icons{
            margin-right: 40px;
        }
        &__button{
            width: 250px;
            font-size: 12px;
            margin-right: 40px;
        }
        &__link{
            margin-right: 40px;
        }
    }
    section {
        .pluses{
            &__icon{
                width: 230px;
                span{
                    font-size: 12px;
                }
            }
        }
    }
    .catalog__content {
        justify-content: space-around;
    }
    .catalog__tab {
        width: 220px;
    }
    .carousel__inner {
        width: auto;
        img{
            width: 100%;
        }
    }
    .slick-prev, .slick-next {
        display: none;
    }

}
@media (max-width: 475px){
    .header{
        
        &__logo {
            margin-left: 5px;
            img{
                width: 180px;
            }
        }
        &__official{
            display:none;
        }
        &__contacts{
            width: 150px;
            margin-right: 3px;
            a{
                font-size: 14px;
            }
            button{
                margin-top: 3px;
                
            }
        }
    }
    .promo{
        padding: 25px 0 0 0;
        &__header{
            margin-right: 6px;
            font-size: 28px;
        }
        &__subheader{
            margin-right: 6px;
            font-size: 14px;
        }
        &__icons{
            display: flex;
            justify-content: center;
            margin-right: 0;
            margin-top: 40px;

        }
        &__icon{
            width: 70%;
            font-size: 13px;
        }
        &__button{
            margin-top: 50px;
            width: 220px;
        }
        &__link{
            margin-top: 13px;
            font-size: 14px;
            a{
                font-size: 16px;
            }
        }
    }
    .pluses{
        padding: 40px 0 10px 0;
        &__title{
            font-size: 25px;
        }
        &__wrapper{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            margin-bottom: 30px;
        }
    }
    .footer__info {
        width: auto;
    }
    .catalog {
        &__title {
            font-size: 25px;
        }
        &__tabs {
            li {
                width: 120px;
                font-size: 12px;
            }
            
        }
        &__content {
            justify-content: center;
            align-items: center;
        }
       

    }
    .reviews {
        &__wrapper {
            padding-left: 130px;
            &-item {
                &::before {
                    left: -105px;
                    width: 90px;
                    height: 90px;
                }
                br{
                    display:none;
                }
                &-descr {
                    font-size: 14px;
                    width: 250px;
                }
            }
        }
    }
    .footer {
        &__info {
            width: 300px;
            padding: 35px 20px 20px 20px;
            height: 210px;
        }
        &__addr{
            margin-bottom: 20px;
            font-size: 20px;
        }
        &__phone {
            font-size: 17px;
            margin-bottom: 22px;
        }
    }
    .modal {
        width: 330px;
        &__close {
            right: -40px;
        }
        &__form {
            input {
                width: 250px;
            }
            button {
                width: 250px;
            }
        }
    }

    
    
}
@media (max-width: 375px){
    .header{
        &__logo{
            img{
                width: 170px;
            }
        }
        &__contacts{
            margin-right: 0;
            a{
                font-size: 10px;
            }
        }
    }
    .promo{
        padding: 10px 0 20px 0;
        &__subheader{
            font-size: 20px;
            margin-top: 7px;
            text-align: center;
        }
        &__icons{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__icon{
            margin-top: 10px;
        }
    }
    .consultation{
        padding: 60px 0 45px 0;
        &__title {
            display: none;
        }
        &__descr {
            text-align: center;
            font-size: 23px;
        }
        .feed-form{
            width: 280px;
        }
    }
    .pluses{
        &__title{
            font-size: 20px;
        }
    }

    .catalog {
        &__tabs {
            li {
                width: 88px;
                font-size: 9px;
                transform: skewX(-20deg);
            }  
        }
    
        &-item {
            width: 270px;
            min-height: 440px;
            margin-bottom: 20px;
            &__img {
                max-width: 100%;
                height: 200px;
            }
            &__subtitle {
                margin-top: 20px;
                font-weight: 700;
                font-size: 16px;
            }
            &__descr{
                margin-top: 16px;
                font-size: 14px;
                line-height: 22px;
                margin: 0 15px;
            }
            &__link{
                margin-top: 17px;
                font-size: 15px;
            }
            &__price {
                font-size: 17px;
            }
        }
    }
    .reviews{
        &__wrapper {
            padding-left: 30px;
            padding-top: 40px;
            
            &-item{
                position: relative;
                margin-top: 60px;
                padding-top: 65px;
                &-title {
                    color: #0D0D0D;
                    font-weight: 700;
                    font-size: 18px;
                }
                &-subtitle {
                    color: rgba(100, 100, 100, 1);
                    font-weight: 500;
                    font-size: 14px;
                }
                &-descr {
                    font-size: 15px;
                }
                &::before{
                    width: 90px;
                    height: 90px;
                    left: 0px;
                    top: -38px;
                }
                
            }
        }
    }
    .footer {
        
        &__info {
            width: 240px;
            padding: 20px 20px 20px 20px;
            height: 180px;
        }
        &__addr{
            margin-bottom: 18px;
            font-size: 20px;
        }
        &__phone {
            font-size: 15px;
        }
        &__social-item {
            width: 48px;
            height: 48px;
            border: 2px solid #FFFFFF;
            border-radius: 100%;
            margin: 0 10px;
            img {
                height: 25px;
            }
        }
    }
    .modal {
        padding: 20px;
        width: 265px;
        &__close {
            right: -30px;
        }
        &__form {
            input {
                width: 220px;
            }
            button {
                width: 220px;
            }
        }
    }

}
